<div ng-if="newTraining" class="create-training-header">
  {{translation.NEW_TRAINING}}
</div>
<div ng-if="!newTraining" class="create-training-header">
  {{data.name}}
</div>

<form name="trainingForm" class="form-inline" ng-submit="save()">



  <div class="col-sm-8 training-info-entry" ng-if="newTraining">
    <label for="rep" class="col-sm-4 control-label text-right create-training-entry-label" >
      {{translation.STATUS}}:</label>

    <div class="col-sm-7" >
      <input id="rep" type="checkbox" ng-model="data.repeated"> {{translation.REPEATING}}
    </div>
  </div>

  <div class="col-sm-8 training-info-entry">
    <label for="external" class="col-sm-4 control-label text-right create-training-entry-label" >
      {{translation.EXTERNAL}}:</label>

    <div class="col-sm-7">
      <input id="external" type="checkbox" ng-model="data.external">
    </div>
  </div>


  <div class="col-sm-4 training-description">
    {{translation.DESCRIPTION}}:
    <div>
      <textarea class="form-control create-training-trainer-select create-training-textarea" rows="17"
                ng-model="data.description"></textarea>
    </div>
    <div align="center" class="create-training-submit">
      <button type="submit" ng-disabled="pendingR" class="btn btn-success btn-lg" >{{translation.SAVE}}</button>
    </div>
  </div>

  <div class="col-sm-8 training-info-entry" ng-if="!newTraining && isAdmin()">
    <label for="st" class="col-sm-4 control-label text-right create-training-entry-label">
      {{translation.STATUS}}:</label>

    <div class="col-sm-7" >
      <select id="st" ng-model="data.status" class="form-control create-training-trainer-select"
              ng-options="status for status in statuses"></select>
    </div>
  </div>

  <div class="form-group col-sm-8 training-info-entry">
    <label for="trainingName" class="col-sm-4 control-label text-right create-training-entry-label">{{translation.TRAINING_NAME}}:</label>

    <div class="col-sm-7">
      <input type="text" id="trainingName" class="form-control create-training-trainer-select"
             placeholder="training name" ng-model="data.name" required>
    </div>
  </div>



  <div class="form-group col-sm-8 training-info-entry">
    <label for="maxUsers" class="col-sm-4 control-label text-right create-training-entry-label">{{translation.MAX_USERS}}:</label>

    <div class="col-sm-7">
      <input type="number" min="0" id="maxUsers" class="form-control create-training-trainer-select" placeholder="maximum users"
             ng-model="data.membersCountMax" required>
    </div>
  </div>

  <div id="trainingEntries">
    <div class="col-sm-8">
      <div class="col-sm-offset-4 col-sm-3">
        <p class="entry-num"><b>{{translation.ENTRY}} {{::++entryNum}}</b></p>
      </div>
    </div>
    <trn-entry repeating="data.repeated" entries="data.entries" index="{{::entryNum - 1}}" translation="translation"
               is-admin="isAdmin()" new-training="newTraining"></trn-entry>
  </div>
  <div class="col-sm-8 training-info-entry">
    <div class="col-sm-offset-4">
      <button type="button" class="btn btn-default add-entry-button" ng-click="addEntry();">
        <i class="fa fa-plus"></i>{{translation.ADD_NEW_ENTRY}}
      </button>
    </div>
  </div>
  <div ng-show="data.repeated" class="form-group col-sm-8 training-info-entry">
    <label class="col-sm-4 text-right control-label create-training-entry-label">{{translation.FROM}}</label>

    <div class="col-sm-7">
      <trn-date-select req="data.repeated" entry="data.begin"></trn-date-select>
    </div>
  </div>
  <div ng-show="data.repeated" class="form-group col-sm-8 training-info-entry">
    <label class="col-sm-4 text-right control-label create-training-entry-label">{{translation.TO}}</label>

    <div class="col-sm-7">
      <trn-date-select req="data.repeated" entry="data.end"></trn-date-select>
    </div>
  </div>

  <div class="col-sm-8 training-info-entry">
    <label for="trgAud" class="col-sm-4 control-label text-right create-training-entry-label">
      {{translation.TARGET_AUDIENCE}}: </label>

    <div class="col-sm-7">
      <input id="trgAud" type="text" placeholder="input target audience" required
             class="form-control create-training-trainer-select" ng-model="data.targetAudience">
    </div>
  </div>
  <div class="col-sm-8 training-info-entry">
    <label for="language" class="col-sm-4 control-label text-right create-training-entry-label">{{translation.LANGUAGE}}:</label>

    <div class="col-sm-7">
      <input id="language" type="text" placeholder="input language" class="form-control create-training-trainer-select"
        ng-model="data.language" required>
    </div>
  </div>
  <div class="col-sm-8 training-info-entry">
    <label for="trainer" class="col-sm-4 control-label text-right create-training-entry-label">
      {{translation.TRAINER}}:</label>

    <div class="col-sm-7">
      <ui-select id="trainer" ng-model="data.trainer" theme="bootstrap" append-to-body="true">
        <ui-select-match placeholder="select trainer">{{$select.selected.name + ' ' + $select.selected.surname}}</ui-select-match>
        <ui-select-choices repeat="user as user in users | propsFilter: {name: $select.search}">
          <div ng-bind-html="user.name + ' ' + user.surname | highlight: $select.search"></div>
        </ui-select-choices>

      </ui-select>

    </div>
  </div>

  <div class="col-sm-8 training-info-entry">
    <label class="col-sm-4 control-label text-right"> {{translation.ATTACHMENTS}}: </label>

      <div class="col-sm-7 create-training-attachments">
        <input type="file" nv-file-select uploader="uploader" multiple>
        <ul>
          <li ng-repeat="item in uploader.queue" class="create-training-upload-entry">
            {{item.file.name}} &nbsp; {{item.file.size / 1024 / 1024 | number:2}} MB &nbsp;
            <button class="btn btn-danger btn-sm" ng-click="item.remove()"><i class="fa fa-trash-o"></i> remove</button>
            <i ng-show="item.isSuccess" class="fa fa-check"></i>
            <i ng-show="item.isError" class="fa fa-close"></i>
          </li>
        </ul>
        PROGRESS:<br/>
        <div class="progress">
        <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
        </div>
        <p ng-if="newTraining"><strong> Files will be uploaded automaticly after saving training </strong></p>
        <button ng-if="!newTraining" type="button" class="btn btn-default btn-sm training-attach-btn" ng-click="uploader.uploadAll()">
          {{translation.ATTACH}}
        </button>
        {{translation.OR_ATTACH_LINKS}}
        <ul class="links">

        </ul>
        <input type="text" popover-template="'views/templates/attachLinkPopover.html'" ng-model="attachment.name"
                     placeholder="input name" class="form-control create-training-entry-label" popover-title="Input link">
        <button type="button" ng-disabled="!attachment.name || !attachment.link" class="btn btn-default create-training-entry-label" ng-click="addLink();">
          {{translation.ADD_LINK}}
        </button>
      </div>

    <ul class="list-inline col-sm-offset-4">
      <li ng-repeat="attachment in data.attachments">
        <a class="col-sm-7" href="{{attachment.link}}">{{attachment.name}}</a>
        &nbsp;&nbsp;
        <i class="fa fa-close" ng-click="deleteAttachment(attachment.id, $event);"></i>
      </li>
    </ul>
  </div>
</form>


