<div class="container-fluid footer-container navbar-fixed-bottom">
  <div class="row">
    <div class="footer-menu col-md-10">
      <div class="menu-main-navigation-container">
        <nav class="navbar navbar-default footer-navbar">
          <ul class="nav navbar-nav">
            <li ng-class="{ active: isActive('main')}">
              <a ng-href="#/login">{{translation.MY_TRAININGS}}</a></li>
            <li ng-class="{ active: isActive('traininglist')}"
                ng-show="(isAdmin() || isEmployee())" >
              <a ng-href="#/traininglist">{{translation.ALL_TRAININGS}}</a></li>
            <li ng-class="{ active: isActive('users')}"
                ng-show="isAdmin()" >
              <a ng-href="#/users">{{translation.USERS_LIST}}</a></li>
            <li>
          </ul>
        </nav>
      </div>
      <div class="copyright">
        © Exadel, Inc. All Rights Reserved. Exadel is a registered trademark of Exadel, Inc.
      </div>
    </div>
    <div class="facebook-links col-md-2">
      <a href="https://www.facebook.com/pages/Exadel/264073019202" target="_blank">
        <img class="right" src="images/icon-facebook.png">
      </a>
      <a href="http://www.twitter.com/exadel" target="_blank">
        <img class="right" src="images/icon-twitter.png">
      </a>
      <a href="http://www.linkedin.com/company/27653?trk=tyah" target="_blank">
        <img class="right" src="images/icon-linkedin.png">
      </a>
    </div>
  </div>
</div>
