<div class="header" ng-controller="HeaderCtrl as headerController">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"
                >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">{{headerController.companyName}}</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a ng-href="#/">My Trainings</a></li>
          <li>
            <a ng-href="#/">All Trainings</a></li>
          <li>
            <a ng-href="#/about">Users List</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a>
              <i class="fa fa-user fa-lg" ng-click="headerController.goToUserProfile()"></i>
            </a>
          </li>
          <li><a ng-click="headerController.logout()" class="btn-link">Logout</a></li>
        </ul>

      </div>
    </div>
  </nav>

</div>

