<div class="header exadel-header" ng-controller="HeaderCtrl as headerController">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header header-training">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>


        <!--a class="navbar-brand" href="#/">{{headerController.companyName}}</a-->

        <a class="navbar-brand"  href="#/myTrainings">
          <img src="images/exadel-logo.png">
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav" ng-show="isMailResp() && isLoginPage()">
          <li ng-class="{ active: isActive('')}">
            <a ng-href="#/userTrainings">{{translation.MY_TRAININGS}}</a></li>
          <li ng-class="{ active: isActive('traininglist')}"
              ng-show="(isAdmin() || isEmployee())" >
            <a ng-href="#/traininglist">{{translation.ALL_TRAININGS}}</a></li>
          <li ng-class="{ active: isActive('about')}"
              ng-show="isAdmin()" >
          <a ng-href="#/users">{{translation.USERS_LIST}}</a></li>
          <li>
          <li ng-class="{ active: isActive('eventslist')}"
              ng-show="isAdmin()" >
            <a ng-href="#/eventslist">{{translation.EVENTS_LIST}}</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right" ng-controller="EventMenuCtrl" ng-show="isMailResp() && isLoginPage()">
          <li>
            <div class="btn-group header-lang-select">
              <button type="button" class="btn header-lang-select-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{i10n.selectedLanguage}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li ng-repeat="l in languagesList"><a ng-click="i10n.selectedLanguage = l.value ;translate()">{{l.label}}</a></li>
              </ul>
            </div>
          </li>
          <li ng-if="isAdmin()">
            <a class="btn-link" ng-click="openAside()">
              <div class="col-md-8">
                <i class="fa fa-bell fa-lg event-bell"
                   ng-class="{bellYellow: eventList.length > 0, bellWhite: eventList.length === 0}"></i>
              </div>
              <div class="col-offcet-2 event-number">
                {{eventList.length}}
              </div>
            </a>
          </li>
          <li>
            <a>
              <i class="fa fa-user fa-lg" ng-click="headerController.goToUserProfile()"></i>
            </a>
          </li>
          <li>
            <a ng-click="logout()" class="btn-link">{{translation.LOGOUT}}</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

</div>

