<div>
<div>
    <div class="training-menu" >
        {{training.name}}
        <span trn-star-rating readonly="true" rating-value="training.rating" ng-model="ratings" max="ratings.max"></span>
        <button ng-if="(isAdmin() || isTrainer()) && training.status !== 'COMPLETED'" type="button" class="btn btn-link training-menu-btn" ng-click="edit();">{{translation.EDIT}}</button>
        <button ng-if="(isAdmin() || isTrainer()) && training.status !== 'COMPLETED'" type="button" class="btn btn-link training-menu-btn" ng-click="cancel();">{{translation.CANCEL}}</button>
        <button ng-if="isAdmin() && training.status !== 'COMPLETED';" type="button" class="btn btn-link training-menu-btn" ng-click="openCreatePopup('Listener',training.id)">{{translation.ADD_LISTENER}}</button>
        <button ng-if="registrated && !isTrainer()" type="button" class="btn btn-link training-menu-btn" ng-click="leaveTrainingFeedback(training.name)">{{translation.LEAVE_FEEDBACK}}</button>

    </div>
</div>

<div class="training-body">

    <tabset class="tab-container">



        <tab select="openInfo()" heading="{{translation.INFO}}">
          <div ng-include="'views/tabs/trainingInfoTab.html'"></div>

        </tab>

        <tab ng-if="isAdmin() || isTrainer()" select="openParticipantsList()" heading="{{translation.PARTICIPANTS}}">

          <div ng-include="'views/tabs/trainingParticipantsTab.html'"></div>

        </tab>

        <tab select="openJournal()" heading="{{translation.ATTENDANCE_JOURNAL}}">
          <div ng-include="'views/tabs/trainingAttendanceJournalTab.html'"></div>
        </tab>

        <tab select="openFeedbacks()" heading="{{translation.FEEDBACKS}}">
          <div ng-include="'views/tabs/trainingFeedbacksTab.html'"></div>
        </tab>

        <tab select="openEntries()" heading="{{translation.ENTRIES}}">
          <div ng-include="'views/tabs/trainingEntriesTab.html'"></div>
        </tab>

    </tabset>
</div>
</div>
