<div class="training-menu">
  {{translation.TRAININGS_LIST}}
</div>
<table st-table="trainingsList" st-pipe="callServer" class="table table-striped" >
  <thead>
  <tr>
    <th st-sort="name">
      {{translation.ALL_TRAININGS_NAME}}
      <i class="fa fa-sort-desc"></i>
    </th>
    <th st-sort="trainer">
      {{translation.ALL_TRAININGS_TRAINER}}
      <i class="fa fa-sort-desc"></i>
    </th>
    <th st-sort="targetAudience">
      {{translation.ALL_TRAININGS_TARGET_AUDIENCE}}
      <i class="fa fa-sort-desc"></i>
    </th>
    <th>
      {{translation.ALL_TRAININGS_TRAINING_STATUS}}
    </th>
    <th>
      {{translation.ALL_TRAININGS_RAITINGS}}
    </th>

  </tr>
  <tr class="tableTextAlignment">
    <th>
      <input st-search="name" placeholder="" class="input-sm form-control" type="search"/>
    </th>

    <th>
      <input st-search="trainer" placeholder="" class="input-sm form-control" type="search"/>
    </th>
    <th>
      <input st-search="targetAudience" placeholder="" class="input-sm form-control" type="search"/>
    </th>
    <th></th>
    <th></th>

  </tr>
  </thead>
  <tbody>
  <tr ng-if="isAdmin() || (row.status === 'DRAFTED' || row.status === 'APPROVED')"
      ng-repeat="row in trainingsList" ng-click="openTraining(row.id)">
    <td>{{row.name}}</td>

    <td>{{row.trainer.name}}</td>
    <td>{{row.targetAudience}}</td>

    <td>{{row.status}}</td>

    <td>
      <span trn-star-rating value="true" rating-value="row.rating" readonly="true" ng-model="ratings" max="ratings.max" ></span>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <div class="pagination" ng-if="pages.length >= 2">
    <tr>
      <td colspan="10" class="text-center">
        <div st-items-by-page="5" st-pagination="" st-template="views/pagination/pagination.html"> </div>
      </td>
    </tr>
  </div>
  </tfoot>
</table>
