<table st-table="trainingsList" class="table table-striped text-center" >
  <thead>
  <tr>
    <!--<th st-sort="id">id</th>-->
    <th class="text-center" st-sort="role">Role</th>
    <th class="text-center" st-sort="name">Name</th>

    <th class="text-center" st-sort="beginTime">Begin Time</th>
    <th class="text-center" st-sort="endTime">End Time</th>

    <th class="text-center" st-sort="trainer">Trainer</th>
    <th class="text-center" st-sort="targetAudience">Target audience</th>
    <th class="text-center" st-sort="trainingStatus">Training status</th>
    <th class="text-center" st-sort="rating">Rating</th>
  </tr>
  <tr class="tableTextAlignment">
    <th> <input st-search="role" placeholder="" class="input-sm form-control" type="search"/></th>
    <th> <input st-search="name" placeholder="" class="input-sm form-control" type="search"/> </th>

    <th> <input st-search="beginTime" placeholder="" class="input-sm form-control" type="search"/></th>
    <th> <input st-search="endTime" placeholder="" class="input-sm form-control" type="search"/></th>

    <th> <input st-search="trainer" placeholder="" class="input-sm form-control" type="search"/></th>
    <th> <input st-search="targetAudience" placeholder="" class="input-sm form-control" type="search"/> </th>
    <th> <input st-search="trainingStatus" placeholder="" class="input-sm form-control" type="search"/> </th>
    <th> <input st-search="rating" placeholder="" class="input-sm form-control" type="search"/></th>

  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="row in trainingsList" ng-click="openTraining(row.id)">
    <td>{{row.role}}</td>
    <td>{{row.name}}</td>

    <td>{{row.beginTime | date:'yyyy-MM-dd HH:mm'}}</td>
    <td>{{row.endTime | date:'yyyy-MM-dd HH:mm'}}</td>

    <td>{{row.trainer.name}}</td>
    <td>{{row.targetAudience}}</td>

    <td>{{row.status}}</td>

    <td>{{row.rating}}</td>
  </tr>
  </tbody>
  <tfoot>
  <div class="pagination" ng-if="pages.length >= 2">
    <tr>
      <td colspan="10" class="text-center">
        <div st-items-by-page="10" st-pagination="" st-template="views/pagination/pagination.html"> </div>
      </td>
    </tr>
  </div>
  </tfoot>
</table>
