<div ng-controller="UserProfileCtrl">

  <div class="row">
    <div class="col-md-3 pull-left">
      <i class="fa fa-user-secret fa-5x fa-border "></i>
      <br/>
      <br/>

      <div class="form-group">
        <label>{{translation.ROLE + " : " + selectedUser.role}}
        </label>
      </div>

      <div>
        <label>{{translation.SELECT_LANGUAGE}}</label>
        <select ng-change="translate()" ng-model="i10n.selectedLanguage">
          <option ng-repeat="l in languagesList" value="{{l.value}}">{{l.label}}</option>
        </select>
        </section>
      </div>
      <br/>
      <a class="btn btn-default btn-sm" ng-click="startEdit()"
         ng-show="isAdmin() && isUserExternal" ng-hide="editMode">
        <i class="fa fa-pencil"></i> {{translation.EDIT}}</a>
      <a class="btn btn-default btn-sm" ng-click="saveChanges()"
         ng-show="isAdmin() && editMode">
        <i class="fa fa-floppy-o"></i> {{translation.SAVE}}</a>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label>{{translation.NAME}}
          <trn-editable-label editable-value='selectedUser.name' edit-mode="editMode"/>
        </label>
      </div>
      <div class="form-group">
        <label>{{translation.SURNAME}}
          <trn-editable-label editable-value='selectedUser.surname' edit-mode="editMode"/>
        </label>
      </div>
      <div class="form-group">
        <label>{{translation.PHONE}}
          <trn-editable-label editable-value='selectedUser.phone' edit-mode="editMode">
          </trn-editable-label>
        </label>
      </div>
      <div class="form-group">
        <label>{{translation.EMAIL}}
          <trn-editable-label editable-value='selectedUser.email' edit-mode="editMode">
          </trn-editable-label>
        </label>
      </div>
    </div>
  </div>

  <trn-simple-training-table trainings-list='mentoringTrainingsList' table-label='translation.MENTORING_TRAINING_LIST'
                             translation = 'translation'></trn-simple-training-table>

  <trn-simple-training-table trainings-list='visitingTrainingsList' table-label='translation.VISITING_TRAINING_LIST'
                             translation = 'translation'></trn-simple-training-table>
</div>
