<div ng-controller="UserProfileCtrl">

  <div class="row">
    <div class="col-md-3 pull-left">
      <i class="fa fa-user-secret fa-5x fa-border "></i>
      <br/>
      <br/>

      <div class="form-group">
        <label>{{translation.ROLE + " : " + selectedUser.role}}
        </label>
      </div>

      <div>
        <label>{{translation.SELECT_LANGUAGE}}</label>
        <select ng-change="translate()" ng-model="i10n.selectedLanguage">
          <option ng-repeat="l in languagesList" value="{{l.value}}">{{l.label}}</option>
        </select>
        </section>
      </div>
      <br/>
      <a class="btn btn-default btn-sm" ng-click="startEdit()"
         ng-show="isAdmin() && isUserExternal" ng-hide="editMode">
        <i class="fa fa-pencil"></i> {{translation.EDIT}}</a>
      <a class="btn btn-default btn-sm" ng-click="saveChanges()"
         ng-show="isAdmin() && editMode">
        <i class="fa fa-floppy-o"></i> {{translation.SAVE}}</a>
    </div>

    <div class="col-md-3">
      <div class="form-group">
        <label>{{translation.NAME}}
          <trn-editable-label editable-value='selectedUser.name' edit-mode="editMode"/>
        </label>
      </div>
      <div class="form-group">
        <label>{{translation.SURNAME}}
          <trn-editable-label editable-value='selectedUser.surname' edit-mode="editMode"/>
        </label>
      </div>
      <div class="form-group">
        <label>{{translation.PHONE}}
          <trn-editable-label editable-value='selectedUser.phone' edit-mode="editMode">
          </trn-editable-label>
        </label>
      </div>
      <div class="form-group">
        <label>{{translation.EMAIL}}
          <trn-editable-label editable-value='selectedUser.email' edit-mode="editMode">
          </trn-editable-label>
        </label>
      </div>
    </div>
  </div>

  <!-- tables -->
  <label>{{translation.MENTORING_TRAINING_LIST}}</label>
  <table st-table="mentoringTrainingsList" class="table table-striped text-center">
    <thead>
    <tr>
      <th class="text-center" st-sort="name">{{translation.NAME}}</th>
      <th class="text-center" st-sort="description">{{translation.DESCRIPTION}}</th>
      <th class="text-center" st-sort="rating">{{translation.RATING}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in mentoringTrainingsList">
      <td>{{row.name}}</td>
      <td>{{row.description}}</td>
      <td>{{row.rating}}</td>
    </tr>
    </tr>
    </tbody>
  </table>

  <label>{{translation.VISITING_TRAINING_LIST}}</label>

  <table st-table="visitingTrainingsList" class="table table-striped text-center">
    <thead>
    <tr>
      <th class="text-center" st-sort="name">{{translation.NAME}}</th>
      <th class="text-center" st-sort="description">{{translation.DESCRIPTION}}</th>
      <th class="text-center" st-sort="rating">{{translation.RATING}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in visitingTrainingsList">
      <td>{{row.name}}</td>
      <td>{{row.description}}</td>
      <td>{{row.rating}}</td>
    </tr>
    </tbody>
  </table>
</div>
