<div class="training-menu">
    {{translation.USER_LIST}}
    <button ng-if="isAdmin()" class="btn btn-link training-menu-btn" ng-click="openCreatePopup('Trainer');"
            ng-dialog-class="ngdialog-theme-plain">{{translation.CREATE_TRAINER}}
    </button>
</div>
<table st-table="users" st-pipe="callServer" class="table table-striped">
  <thead>
  <tr>
    <th st-sort="name">
      {{translation.NAME}}
      <i class="fa fa-sort-desc"></i>
    </th>
    <th st-sort="surname">
      {{translation.SURNAME}}
      <i class="fa fa-sort-desc"></i>
    </th>
    <th>
      {{translation.ROLE}}
    </th>
    <th st-sort="email">
      {{translation.EMAIL}}
      <i class="fa fa-sort-desc"></i>
    </th>
    <th st-sort="phone">
      {{translation.PHONE}}
      <i class="fa fa-sort-desc"></i>
    </th>
  </tr>
  <tr>
    <th><input st-search="name" placeholder="{{translation.SEARCH_BY_NAME}}" class="input-sm form-control" type="search"/>
    </th>
    <th><input st-search="surname" placeholder="{{translation.SEARCH_BY_SURNAME}}" class="input-sm form-control" type="search"/></th>
    <th></th>
    <th><input st-search="email" placeholder="{{translation.SEARCH_BY_EMAIL}}" class="input-sm form-control" type="search"/></th>
    <th><input st-search="phone" placeholder="{{translation.SEARCH_BY_PHONE}}" class="input-sm form-control" type="search"/></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-click="rowClickHandler(user)" ng-repeat="user in users">
    <td>{{user.name}}</td>
    <td>{{user.surname}}</td>
    <td>{{user.role}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phone}}</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="10" class="text-center">
      <div st-items-by-page="10" st-pagination=""></div>
    </td>
  </tr>
  </tfoot>
</table>
