<div class="training-menu">
  {{translation.MY_TRAINIGS}}
  <button class="btn btn-link training-menu-btn" ng-click="createTraining()"
          ng-dialog-class="ngdialog-theme-plain">{{translation.CREATE_TRAINING}}
  </button>
</div>
<table st-table="trainingsList" class="table table-striped" >
  <thead>
  <tr>
    <th st-sort="role">
      {{translation.USER_TRAINING_ROLE}}
      <i class="fa fa-sort-desc"></i>
    </th>
    <th st-sort="name">
      {{translation.USER_TRAINING_NAME}}
      <i class="fa fa-sort-desc"></i>
    </th>
    <th st-sort="trainer">
      {{translation.USER_TRAINING_TRAINER}}
      <i class="fa fa-sort-desc"></i>
    </th>
    <th st-sort="targetAudience">
      {{translation.USER_TRAINING_TARGET_AUDIENCE}}
      <i class="fa fa-sort-desc"></i>
    </th>
    <th st-sort="trainingStatus">
      {{translation.USER_TRAINING_STATUS}}
      <i class="fa fa-sort-desc"></i>
    </th>
    <th st-sort="rating">
      {{translation.USER_TRAINING_RATING}}
      <i class="fa fa-sort-desc"></i>
    </th>
  </tr>
  <tr class="tableTextAlignment">
    <th></th>
    <th><input st-search="name" placeholder="{{translation.SEARCH_BY_NAME}}" class="input-sm form-control"
               type="search"/></th>
    <th><input st-search="trainer" placeholder="{{translation.SEARCH_BY_TRAINER}}" class="input-sm form-control"
               type="search"/></th>
    <th><input st-search="targetAudience" placeholder="{{translation.SEARCH_BY_TARGET_AUDIENCE}}"
               class="input-sm form-control" type="search"/></th>
    <th></th>
    <th><input st-search="rating" placeholder="{{translation.SEARCH_BY_RATING}}" class="input-sm form-control"
               type="search"/></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="row in userTrainings" ng-click="openTraining(row.id)">
    <td>{{Trainer | trainerListener: userId : row.trainer.id}}</td>
    <td>{{row.name}}</td>

    <td>{{row.trainer.name}} {{row.trainer.surname}}</td>
    <td>{{row.targetAudience}}</td>

    <td>{{row.status | enumToNormalString}}</td>

    <td>
      <span trn-star-rating value="true" readonly="true" rating-value="row.rating" ng-model="ratings" max="ratings.max" ></span>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <div class="pagination" ng-if="pages.length >= 2">
    <tr>
      <td colspan="10" class="text-center">
        <div st-items-by-page="10" st-pagination="" st-template="views/pagination/pagination.html"> </div>
      </td>
    </tr>
  </div>
  </tfoot>
</table>
