<h1>Userlist</h1>

<table st-table="users" class="table table-striped text-center">
  <thead>
  <tr>
    <!--    <th st-sort="id">id</th>-->
    <th class="text-center" st-sort="name">first name</th>
    <th class="text-center" st-sort="surname">last name</th>
    <th class="text-center" st-sort="role">role</th>
    <th class="text-center" st-sort="email">email</th>
    <th class="text-center" st-sort="login">login</th>
    <th class="text-center" st-sort="phone">phone no.</th>
  </tr>
  <tr>
    <!--  <th><input st-search="id" placeholder="search by id" class="input-sm form-control" type="search"/></th>-->
    <th><input st-search="name" placeholder="search by first name" class="input-sm form-control" type="search"/>
    </th>
    <th><input st-search="surname" placeholder="search by last name" class="input-sm form-control" type="search"/></th>
    <th><input st-search="role" placeholder="search by role" class="input-sm form-control" type="search"/></th>
    <th><input st-search="email" placeholder="search by email" class="input-sm form-control" type="search"/></th>
    <th><input st-search="login" placeholder="search by login" class="input-sm form-control" type="search"/></th>
    <th><input st-search="phone" placeholder="search by phone no." class="input-sm form-control" type="search"/></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="user in users">
    <!--   <td>{{row.id}}</td>-->
    <td>{{user.name}}</td>
    <td>{{user.surname}}</td>
    <td>{{user.role}}</td>
    <td>{{user.email}}</td>
    <td>{{user.login}}</td>
    <td>{{user.phone}}</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="10" class="text-center">
      <div st-items-by-page="10" st-pagination="" st-template="views/pagination/pagination.html"></div>
    </td>
  </tr>
  </tfoot>
</table>
