<h2>
  {{translation.REGISTERED}}: {{participants.length}}/{{training.membersCountMax}}
  <button ng-if="isAdmin() && participants.length === training.membersCountMax"
          type="button" class="btn btn-default" style="float: right" ng-click="openWaitList()">
    {{translation.WAITLIST}}
  </button>
</h2>

<table ng-if="participants && participants.length" st-table="participants" class="table table-striped">
  <thead>
  <th st-sort="name">{{translation.NAME}}</th>
  <th st-sort="surname">{{translation.SURNAME}}</th>
  <th st-sort="email">{{translation.EMAIL}}</th>
  <th st-sort="phone">{{translation.ATTACHMENTS}}</th>
  </thead>
  <tbody>
  <tr ng-repeat="participant in participants" ng-click="openUserpage({{participant.id}})">
    <td>{{participant.name}}</td>
    <td>{{participant.surname}}</td>
    <td>{{participant.email}}</td>
    <td>{{participant.phone}}</td>
    <td ng-if="isAdmin() || isTrainer()">
      <button ng-if="isAdmin();" class="btn btn-default ask-leave-user-feedback-btn" ng-click="askFeedback({{participant.id}}, $event)">Ask Feedback</button>
      <!-- TODO Show 'User feedback' for trainer only -->
      <button ng-if="isTrainer()" class="btn btn-default ask-leave-user-feedback-btn" ng-click="leaveUserFeedbackDialog({{participant.id}}, $event, participant.name)" ng-dialog-class="ngdialog-theme-plain">User feedback</button>
    </td>
  </tr>
  </tbody>
</table>
