
<div>
  <div class="col-sm-8 training-info-entry">
    <label class="col-sm-4 text-right">{{translation.TRAINING_STATUS}}:</label>

    <p class="col-sm-7">{{training.status}}</p>
  </div>
  <div class="col-sm-4 training-description">
    <label> {{translation.DESCRIPTION}}: </label>
    <div class="panel">
      <div class="panel-body training-desc-panel-body">{{training.description}}</div>
    </div>

  </div>

  <div class="col-sm-8 training-info-entry ">
    <label class="col-sm-4 text-right"> {{translation.DURATION}}: </label>

    <p class="col-sm-7">{{duration | date:'HH:mm'}}</p>
  </div>
  <div ng-if="training.status !== 'COMPLETED'" class="col-sm-8 training-info-entry ">
    <label class="col-sm-4 text-right">{{translation.CLOSEST_MEETING}}:</label>

    <p class="col-sm-7">{{training.entry.beginTime | date:'dd.MM.yyyy HH:mm'}}</p>
  </div>
  <div ng-if="training.status !== 'COMPLETED'" class="col-sm-8 training-info-entry ">
    <label class="col-sm-4 text-right"> {{translation.CITY}}: </label>

    <p class="col-sm-7">{{training.entry.place.split(", ")[0]}} </p>
  </div>
  <div ng-if="training.status !== 'COMPLETED'" class="col-sm-8 training-info-entry ">
    <label class="col-sm-4 text-right">{{translation.UNIT}}:</label>

    <p class="col-sm-7">{{training.entry.place.split(", ")[1]}}</p>
  </div>
  <div class="col-sm-8 training-info-entry ">
    <label class="col-sm-4 text-right">{{translation.TARGET_AUDIENCE}}: </label>

    <p class="col-sm-7">{{training.targetAudience}}</p>
  </div>
  <div class="col-sm-8 training-info-entry ">
    <label class="col-sm-4 text-right">{{translation.LANGUAGE}}:</label>

    <p class="col-sm-7">{{training.language}}</p>
  </div>
  <div class="col-sm-8 training-info-entry ">
    <label class="col-sm-4 text-right">{{translation.TRAINER}}:</label>
    <a ng-if="isAdmin()" class="col-sm-7" href="/#/userprofile/{{training.trainerId}}">{{training.trainer.name + " " + training.trainer.surname}}</a>

    <p ng-if="!isAdmin()" class="col-sm-7"> {{training.trainer.name + " " + training.trainer.surname}}</p>
  </div>
  <div class="col-sm-8 training-info-entry">
    <label class="col-sm-4 text-right"> {{translation.ATTACHMENTS}}: </label>

    <ul class="list-unstyled col-sm-offset-4">
      <li ng-repeat="attachment in training.attachments">
        <a target="_blank" class="col-sm-7" href="{{attachment.link}}">{{attachment.name}}</a>
      </li>
    </ul>
  </div>


</div>
<div class="col-sm-12">
  <div align="center" ng-if="training.status === 'APPROVED' && !isTrainer()">
    <div ng-show="!registrated" align="center">
      <button class="btn btn-success btn-lg" ng-disabled="pendingR" ng-click="register();">{{translation.REGISTER}}</button>
    </div>
    <div ng-show="registrated" align="center">
      <button class="btn btn-danger btn-lg" ng-disabled="pendingR" ng-click="unregister();">{{translation.UNREGISTER}}</button>
    </div>
  </div>
</div>

