.header-feedback {
  padding: 10px;
}

.feedback-name {
  text-align: center;
  margin-top: 10px;
}

.feedback-container {
  text-align: center;
}

.feedback-field {
  margin-top: 3%;
}

.feedback-info {
  padding-left: 28%;
}

.feedback-button {
  color: white;
  background-color: #276FA0;
  float: right;
}

.feedback-training-effect {
  margin-top:2.5%;
}

.feedback-text {
  resize: none;
}

.feedback-text-input {
  margin-top: 2.5%;
}

.feedbackBlock {
  background-color: #E8EBED;
  font-family: Arial;
  font-weight:  Bold;
  display: inline-block;
  width: 100%;
  border-radius: 2%;
  padding: 10px;
  margin: 5px
}
