<div class="input-group">
      <span class="input-group-btn">
        <input type="datetime" placeholder="input date" class="form-control date-select" datepicker-popup="{{'dd.MM.yyyy'}}"
               ng-model="entry" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true"
               close-text="Close" style="width: 100%;"/>
         <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
      </span>
</div>
