<div ng-show="!repeating" class="form-group col-sm-8 training-info-entry">
  <label class="col-sm-4 control-label text-right create-training-entry-label">{{translation.CLOSEST_MEETING}}:</label>
  <div class="col-sm-7">
    <trn-date-select></trn-date-select>

  </div>
</div>

<div ng-show="repeating" class="col-sm-8">
  <label class="col-sm-4 text-right control-label" style="margin-top: 15px">{{translation.SELECT_DAY}}</label>
  <div class="form-group col-sm-8 training-info-entry">

    <div class="btn-group" dropdown keyboard-nav>
      <button id="simple-btn-keyboard-nav" type="button" class="btn btn-default" dropdown-toggle>
        {{translation.SELECT_DAY}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
        <li ng-repeat="day in days"><a ng-click="daySelect($event);">{{day}}</a></li>
      </ul>
    </div>
  </div>

</div>


<div class="col-sm-8 training-info-entry">
  <label for="city" class="col-sm-4 control-label text-right create-training-entry-label"> {{translation.CITY}}: </label>
  <div class="col-sm-7">
    <input id="city" type="text" placeholder="input city" class="create-training-trainer-select form-control">
  </div>
</div>
<div class="col-sm-8 training-info-entry">
  <label for="unit" class="col-sm-4 control-label text-right create-training-entry-label"> {{translation.UNIT}}: </label>
  <div class="col-sm-7">
    <input id="unit" type="text" placeholder="input unit" class="create-training-trainer-select form-control" ng-disabled="!isAdmin();">
  </div>
</div>
