<div ng-controller="EventMenuCtrl" class="event-menu">
  <div class="modal-body">
    <input class="form-control" ng-model="searchText" placeholder = {{translation.SEARCH}} >
    <div ng-repeat="event in eventList | filter:searchText">
      <a class="event-link" ng-click="openEvent(event)">
        <div class="event-menu-entry">
          <div class="panel panel-default event-menu-item">
            <div class="panel-body">
              <div>
                {{translation.EVENT_DATE}} : {{event.date | date:'yyyy-MM-dd HH:mm'}}
              </div>
              <div class="event-text">
                {{translation.EVENT_TEXT}} : {{event.description}}
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
