<div class="ngdialog-message feedback-container">
  <div class="modal-header">
    <h2 class="feedback-name">{{translation.LEAVE_ON_USER}}</h2>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="form-group feedbackBlock">
        <div class="col-sm-3 feedback-field control-label">
          <p>{{translation.ATTENDANCE}}</p>
        </div>
        <div class="col-sm-8 feedback-field control-label">
          <input type="text" class="form-control" data-ng-model="entity.attendance" value=""/>
        </div>
      </div>

      <div class="form-group feedbackBlock">
        <div class="col-sm-3 feedback-field control-label">
          <p>{{translation.ATTITUDE}}</p>
        </div>
        <div class="col-sm-8 feedback-field control-label">
          <input type="text" class="form-control" data-ng-model="entity.attitude" value=""/>
        </div>
      </div>

      <div class="form-group feedbackBlock">
        <div class="col-sm-3 feedback-field control-label">
          <p>{{translation.QUESTIONS}}</p>
        </div>
        <div class="feedback-radio-input">
          <div class="col-sm-1 control-label">
            <input type="radio" data-ng-model="entity.questions" value="true"/>
          </div>
          <div class="col-sm-1 control-label">
            <p>{{translation.FEEDBACK_YES}}</p>
          </div>
          <div class="col-sm-1 control-label">
            <input type="radio" data-ng-model="entity.questions" value="false"/>
          </div>
          <div class="col-sm-1 control-label">
            <p>{{translation.FEEDBACK_NO}}</p>
          </div>
        </div>
      </div>

      <div class="form-group feedbackBlock">
        <div class="col-sm-3 feedback-field control-label">
          <p>{{translation.INTERESTED}}</p>
        </div>
        <div class="feedback-radio-input">
          <div class="col-sm-1 control-label">
            <input type="radio" data-ng-model="entity.interest" value="true"/>
          </div>
          <div class="col-sm-1 control-label">
            <p>{{translation.FEEDBACK_YES}}</p>
          </div>
          <div class="col-sm-1 control-label">
            <input type="radio" data-ng-model="entity.interest" value="false"/>
          </div>
          <div class="col-sm-1 control-label">
            <p>{{translation.FEEDBACK_NO}}</p>
          </div>
        </div>
      </div>

      <div class="form-group feedbackBlock">
        <div class="col-sm-3 feedback-field control-label">
          <p>{{translation.FOCUESONRESULT}}</p>
        </div>
        <div class="feedback-radio-input">
          <div class="col-sm-1 control-label">
            <input type="radio" data-ng-model="entity.focusOnResult" value="true"/>
          </div>
          <div class="col-sm-1 control-label">
            <p>{{translation.FEEDBACK_YES}}</p>
          </div>
          <div class="col-sm-1 control-label">
            <input type="radio" data-ng-model="entity.focusOnResult" value="false"/>
          </div>
          <div class="col-sm-1 control-label">
            <p>{{translation.FEEDBACK_NO}}</p>
          </div>
        </div>
      </div>

      <div class="form-group feedbackBlock">
        <div class="col-sm-3 feedback-field control-label">
          <p>{{translation.ENGLISH_LEVEL}}</p>
        </div>
        <div class="feedback-field col-sm-8">
          <select class="form-control feedback-dropdown" ng-model="entity.ddlLevel" ng-options="level.Name as level.Name for level in levels"></select>
        </div>
      </div>

      <div class="form-group feedbackBlock">
        <div class="col-sm-3 feedback-field control-label">
          <p>{{translation.MARK}}</p>
        </div>
        <div class="feedback-field col-sm-8">
          <select  class="form-control feedback-dropdown" ng-model="entity.ddlMark" ng-options="mark.grade as mark.grade for mark in marks"></select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-3 feedback-field feedback-info control-label">
          <p>{{translation.OTHER_INFO_T}}</p>
        </div>
        <div class="col-sm-8">
          <label for="feedbackInputId"></label>
          <textarea rows="9" class="form-control feedback-text" id="feedbackInputId" ng-model="entity.otherInfo"></textarea>
        </div>
      </div>

    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeThisDialog()">{{translation.FEEDBACK_CANCEL}}</button>
  <button type="button" class="btn btn-primary" ng-click="leaveUserFeedback()">{{translation.FEEDBACK_OK}}</button>
</div>

