<div class="ngdialog-message feedback-container">
  <div class="modal-header">
    <h2 class="feedback-name">{{translation.LEAVE_TRAINING_FEEDBACK}}</h2>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" ng-submit="leaveTrainingFeedback()">
      <div class="form-group feedbackBlock">
        <div class="col-sm-7 feedback-field control-label">
          <p>{{translation.UNDERSTANDABLE}}</p>
        </div>
        <div class="feedback-radio-input">
          <div class="col-sm-1 control-label">
            <input type="radio" data-ng-model="entity.understandable" value="true"/>
          </div>
          <div class="col-sm-1 control-label">
            <p>{{translation.FEEDBACK_YES}}</p>
          </div>
          <div class="col-sm-1 control-label">
            <input type="radio" data-ng-model="entity.understandable" value="false"/>
          </div>
          <div class="col-sm-1 control-label">
            <p>{{translation.FEEDBACK_NO}}</p>
          </div>
        </div>
      </div>

      <div class="form-group feedbackBlock">
        <div class="col-sm-7 feedback-field control-label">
          <p>{{translation.INTERESTING}}</p>
        </div>
        <div class="feedback-radio-input">
          <div class="col-sm-1 control-label">
            <input type="radio" data-ng-model="entity.interesting" value="true"/>
          </div>
          <div class="col-sm-1 control-label">
            <p>{{translation.FEEDBACK_YES}}</p>
          </div>
          <div class="col-sm-1 control-label">
            <input type="radio" data-ng-model="entity.interesting" value="false"/>
          </div>
          <div class="col-sm-1 control-label">
            <p>{{translation.FEEDBACK_NO}}</p>
          </div>
        </div>
      </div>

      <div class="form-group feedbackBlock">
        <div class="col-sm-7 feedback-field control-label">
          <p>{{translation.NEW_KNOWLEDGE}}</p>
        </div>
        <div class="feedback-radio-input">
          <div class="col-sm-1 control-label">
            <input type="radio" data-ng-model="entity.newKnowledge" value="true"/>
          </div>
          <div class="col-sm-1 control-label">
            <p>{{translation.FEEDBACK_YES}}</p>
          </div>
          <div class="col-sm-1 control-label">
            <input type="radio" data-ng-model="entity.newKnowledge" value="false"/>
          </div>
          <div class="col-sm-1 control-label">
            <p>{{translation.FEEDBACK_NO}}</p>
          </div>
        </div>
      </div>

      <div class="form-group feedbackBlock">
        <div class="col-sm-7 feedback-field control-label">
          <p>{{translation.RATINGS}}</p>
        </div>
        <div class="feedback-training-effect col-sm-4">
        <span ng-model="ratings">
          <div trn-star-rating value="true" rating-value="ratings.current" ng-model="ratings" max="ratings.max" ></div>
        </span>
        </div>
      </div>

      <div class="form-group feedbackBlock">
        <div class="col-sm-7 feedback-field control-label">
          <p>{{translation.STUDY_WITH_TRAINER}}</p>
        </div>
        <div class="feedback-radio-input">
          <div class="col-sm-1 control-label">
            <input type="radio" data-ng-model="entity.studyWithTrainer" value="true"/>
          </div>
          <div class="col-sm-1 control-label">
            <p>{{translation.FEEDBACK_YES}}</p>
          </div>
          <div class="col-sm-1 control-label">
            <input type="radio" data-ng-model="entity.studyWithTrainer" value="false"/>
          </div>
          <div class="col-sm-1 control-label">
            <p>{{translation.FEEDBACK_NO}}</p>
          </div>
        </div>
      </div>

      <div class="form-group feedbackBlock">
        <div class="col-sm-7 feedback-field control-label">
          <p>{{translation.RECOMMEND}}</p>
        </div>
        <div class="feedback-radio-input">
          <div class="col-sm-1 control-label">
            <input type="radio" data-ng-model="entity.recommend" value="true"/>
          </div>
          <div class="col-sm-1 control-label">
            <p>{{translation.FEEDBACK_YES}}</p>
          </div>
          <div class="col-sm-1 control-label">
            <input type="radio" data-ng-model="entity.recommend" value="false"/>
          </div>
          <div class="col-sm-1 control-label">
            <p>{{translation.FEEDBACK_NO}}</p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-3 feedback-field feedback-info control-label">
          <p>{{translation.OTHER_INFO_T}}</p>
        </div>
        <div class="col-sm-8">
          <label for="feedbackInputId"></label>
          <textarea rows="9" class="form-control feedback-text" id="feedbackInputId" ng-model="entity.otherInfo" required></textarea>
        </div>
      </div>

    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeThisDialog()">{{translation.FEEDBACK_CANCEL}}</button>
  <button type="submit" class="btn btn-primary">{{translation.FEEDBACK_OK}}</button>
</div>
