<div class="header-feedback">
  <h2 class="feedback-name">Leave feedback on this training</h2>
</div>
<div class="ngdialog-message feedback-container">
  <form class="form-horizontal">

    <div class="form-group feedbackBlock">
      <div class="col-md-8 feedback-field">
        <p>Was the training understandable?</p>
      </div>
      <div class="col-md-2">
        <p>Yes</p>
        <input type="radio" data-ng-model="entity.understandable" value="true"/>
      </div>
      <div class="col-md-2">
        <p>No</p>
        <input type="radio" data-ng-model="entity.understandable" value="false"/>
      </div>
    </div>

    <div class="form-group feedbackBlock">
      <div class="col-md-8 feedback-field">
        <p>Was it interesting for you?</p>
      </div>
      <div class="col-md-2">
        <p>Yes</p>
        <input type="radio" data-ng-model="entity.interesting" value="true"/>
      </div>
      <div class="col-md-2">
        <p>No</p>
        <input type="radio" data-ng-model="entity.interesting" value="false"/>
      </div>
    </div>

    <div class="form-group feedbackBlock">
      <div class="col-md-8 feedback-field">
        <p>Have you learnt something new?</p>
      </div>
      <div class="col-md-2">
        <p>Yes</p>
        <input type="radio" data-ng-model="entity.newKnowledge" value="true"/>
      </div>
      <div class="col-md-2">
        <p>No</p>
        <input type="radio" data-ng-model="entity.newKnowledge" value="false"/>
      </div>
    </div>

    <div class="form-group feedbackBlock">
      <div class="col-md-8 feedback-field">
        <p>Set effectiveness of the class (rate it from 1 to 5)?</p>
      </div>
      <div ng-controller="LeaveFeedbackCtrl" class="feedback-training-effect">
        <span ng-model="ratings">
          <div star-rating rating-value="ratings.current" ng-model="ratings" max="ratings.max" ></div>
        </span>
      </div>
    </div>

    <div class="form-group feedbackBlock">
      <div class="col-md-8 feedback-field">
        <p>Would you like to learn from this trainer?</p>
      </div>
      <div class="col-md-2">
        <p>Yes</p>
        <input type="radio" data-ng-model="entity.studyWithTrainer" value="true"/>
      </div>
      <div class="col-md-2">
        <p>No</p>
        <input type="radio" data-ng-model="entity.studyWithTrainer" value="false"/>
      </div>
    </div>

    <div class="form-group feedbackBlock">
      <div class="col-md-8 feedback-field">
        <p>Will you recommend your colleagues this training to attend?</p>
      </div>
      <div class="col-md-2">
        <p>Yes</p>
        <input type="radio" data-ng-model="entity.recommend" value="true"/>
      </div>
      <div class="col-md-2">
        <p>No</p>
        <input type="radio" data-ng-model="entity.recommend" value="false"/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-8 feedback-field feedback-info">
        <p>Other info</p>
      </div>
      <div>
        <label for="feedbackInputId"></label>
        <textarea rows="10" class="form-control feedback-text" id="feedbackInputId" ng-model="entity.otherInfo"></textarea>
      </div>
    </div>

  </form>
</div>
<div class="ngdialog-buttons mt">
  <button type="button" class="btn btn-default feedback-button"
          ng-click="closeThisDialog()">Cancel
  </button>
  <button type="button" class="btn btn-default feedback-button"
          ng-click="leaveTrainingFeedback()">Ok
  </button>
</div>
