<div class="modal-header">
  <h2>{{translation.ENQUEUED}}: {{wlSize}}</h2>
</div>
<div class="ngdialog-message modal-body">
  <table st-table="participants" class="table table-striped">
    <thead>
      <th>{{translation.NAME}}</th>
      <th>{{translation.SURNAME}}</th>
      <th>{{translation.EXTERNAL}}</th>
    </thead>
    <tbody>
      <tr ng-repeat="participant in participants">
        <th>{{participant.name}}</th>
        <th>{{participant.surname}}</th>
        <th>{{(participant.role === 'EXTERNAL_VISITOR') | yesNo}}</th>
      </tr>
    </tbody>
  </table>
</div>
<div class="ngdialog-buttons mt modal-footer">
  <button type="button" class="btn btn-default" ng-click="closeThisDialog()" style="float: right">
    {{translation.CLOSE}}
  </button>
</div>
