<div style="margin-bottom: 100px">
  <div class="col-sm-12 text-center">
  <label>{{tableLabel}}</label>
  </div>
  <table st-table="trainingsList" class="table table-striped text-center">
    <thead>
    <tr>
      <th class="text-center" st-sort="name">{{translation.NAME}}</th>
      <th class="text-center" st-sort="description">{{translation.DESCRIPTION}}</th>
      <th class="text-center" st-sort="rating">{{translation.RATING}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in trainingsList">
      <td>{{row.name}}</td>
      <td>{{row.description}}</td>
      <td>{{row.rating}}</td>
    </tr>
    </tbody>
  </table>
</div>
