<div>
  <div class="text-center header-table-user-profile">
    <label>{{tableLabel}}</label>
  </div>
  <table st-table="trainingsList" class="table table-striped">
    <thead>
    <tr>
      <th st-sort="name">{{translation.NAME}}</th>
      <th st-sort="description">{{translation.DESCRIPTION}}</th>
      <th st-sort="rating">{{translation.RATING}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in trainingsList">
      <td>{{row.name}}</td>
      <td>{{row.description}}</td>
      <td>{{row.rating}}</td>
    </tr>
    </tbody>
  </table>
</div>
